*{
    box-sizing: border-box;
}

h1{
    text-align: center;
}

caption{

    color: #6e2142;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

table{
    border: 3px solid #6e2142;
    width: 90%;
    margin-top: 50px;
    padding: 30px;
    background-color: #fff6e9;
    /* Par défaut la bordure conteint 2 traits, pour que le trait soit unique on utlilise la propriété border co-llapse  avec une valeur collapse*/
    border-collapse: collapse;
}
th, td {
    border: 3px solid #6e2142;
}

thead, tfoot {
    background-color: #bf7c7c;
}

#demorowspan tr:first-child:not(:last-child) {
    background-color: #be7575;
}

#exo1 #exo2  td {
    height: 50px;
    width: 50px;
    border: none;
}

.noir {
    background-color: black;
}
 .rouge{
    background-color: red;
 }

.borderT {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

css
    
#exoRowspan {
 height: 15em;
 background-color: white;
}



#exoRowspan th, #exoRowspan td {
 border: none;  
}

.black {
 background-color: black;
}
.red {
 background-color: red;
}

.borderLeft {
 border-radius: 10px 0 0 0;
}

.borderRight {
 border-radius: 0 10px 0 0;
}
   