*{
    box-sizing: border-box;
    text-decoration: none;
}

header div:first-child{
    display: flex;
    justify-content: space-evenly;
}

nav{
    display: flex;
    justify-content: space-evenly;
    padding: 0px;

}